{% extends "base.html" %}
{% load static %}

<!-- Page Metas -->
{% block metas %} 
    <title> Galeri | Farmshop</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

<!-- Title box -->
{% block title_box %}
    {% include "partials/_title_box.html" with title="Galeri" parent_title="Anasayfa"%}
{% endblock title_box %}

<!-- Start gallery page -->
{% block content %}
    <!-- Start Gallery  -->
    <div class="products-box">
        <div class="container">

            <!-- Title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Galeri</h1>
                    </div>
                </div>
            </div>

            <!-- Category filter -->
            {% comment %} <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".bulbs">Bulbs</button>
                            <button data-filter=".fruits">Fruits</button>
							<button data-filter=".podded-vegetables">Podded vegetables</button>
							<button data-filter=".root-and-tuberous">Root and tuberous</button>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}

            <!-- Gallery -->
            <div class="row special-list">
                {% for photo in gallery %}
                <div class="col-lg-3 col-md-6 special-grid bulbs">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <img src="{{photo.image.url}}" class="img-fluid" alt="Image">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Gallery  -->
{% endblock %}
